@import 'tailwindcss';

html.dark {
  filter: invert(1) hue-rotate(180deg);
  background-color: black;
}
html.dark img, 
html.dark picture, 
html.dark video {
  filter: invert(1) hue-rotate(180deg);
}
